<!DOCTYPE html>
<html>
<head>
	<title>eTitulación</title>
	{% load static %}
  {% load bootstrap4 %} {# Cargamos la librería #}
  {% bootstrap_css %} {# CSS Bootstrap #}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <script type="text/javascript" src="{% static 'js/jquery-3.3.1.slim.min.js'%}"></script>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  <style type="text/css">
    @import url('https://fonts.googleapis.com/css?family=Sulphur+Point&display=swap');
    *{
      font-family: 'Sulphur Point', sans-serif; 
      font-weight:normal;
    }
    nav{
        background: #252a34;
    }
    .navbar-brand{
      font-size: x-large;
      margin-left: 1rem;
    }
    .dropdown-toggle{
      margin-right: 1rem;
       
    }
  </style>
{% block head %} {% endblock %}
</head>
<body>				
	{% if user.is_authenticated %}
  				<nav class="navbar navbar-expand-lg flex-md-nowrap p-0  fixed-top navbar-dark"> 
  					<div class="container">
  						<a class="navbar-brand pull-sm-left" href="{% url 'graduateHome' %}"><span style="color: #FF6363">e</span>titulación</a>
  						<ul class="nav navbar-nav pull-sm-right">
      						<li class="nav-item active">
        						<div class="dropdown">
        							<a class="nav-link dropdown-toggle fas fa-user" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><span style=" font-family: 'Source Sans Pro', sans-serif; font-weight:normal;">&nbsp;&nbsp;{{ user.graduate_profile.first_name }} {{ user.graduate_profile.last_name }} </span><span class="sr-only">(current)</span></a>
        							<ul class="dropdown-menu" role="menu">
        								<li>
        									<a class="dropdown-item "  href="#"><p class="fas fa-user-cog">&nbsp;&nbsp;&nbsp;</p>Ver información</a>
        								</li>
        								<li>
        									<a class="dropdown-item" href="/logout" ><p class="fas fa-sign-out-alt">&nbsp;&nbsp;&nbsp;&nbsp;</p>Cerrar sesión</a>
        								</li>
        							</ul>
        						</div>
     						</li>
    					</ul>
  					</div>
  				</nav>
  			
  			{% block content %} {% endblock %}
    {% else %}
  			<p>No has iniciado sesión</p>
  			<a href="{% url 'login' %}">login</a>
	{% endif %}
	{# JS y jQuery Bootstrap #}
    {% bootstrap_javascript jquery='full' %}

</body>
</html>