{% extends 'admin-base.html' %}
{% load crispy_forms_tags %}
{% load django_tables2 %}
{% load static %}
{% load bootstrap4 %}
{% block head %} 
<script type="text/javascript" src="{% static 'js/custom-clic-scripts.js'%}"></script>
<style type="text/css">
			@table_width: 750px;
			@table_body_height: 300px;
			@column_one_width: 200px;
			@column_two_width: 200px;
			@column_three_width: 350px;
	    	@import url('https://fonts.googleapis.com/css?family=Sulphur+Point&display=swap');
			*{
				
				padding:0;
				box-sizing: border-box;
				list-style: none;
				text-decoration: none;
				font-family: 'Sulphur Point', sans-serif;
				align-items: flex-start;
			}
			body{

			  background-color: rgb(255,255,255);
			}

			.wrapper{
				display: flex;
				position: relative;
			}

			/**style sidebar**/
			.sidebar{
				
				padding-top: 4rem;
				height: calc(100vh - 48px);
				position: fixed;
				top: 0;
				flex-basis: 15rem;
				flex-grow: 1;
				border-right: 4px solid rgba(18, 32, 146,0.09);
				
				
				overflow: hidden;
				overflow-y: hidden; /* Scrollable contents if viewport is shorter than content. */
				/*position: fixed;
				width: 200px;
				height: 100%;
				background: rgb(240, 240, 240);
				padding: 30px 0;
				border-right: 2px solid rgba(18, 32, 146,0.09);*/
			}

			@supports ((position: -webkit-sticky) or (position: sticky)) {
			.sidebar{
			    position: -webkit-sticky;
			    position: sticky;
			  }
			}
			.sidebar h2,h3,h4{
				
				border-top: : 1px solid rgba(60, 179, 113,0.05);
				text-align: center;
				margin-bottom: 10px;
			}
			.sidebar ul li{
				padding: 15px;
				border-bottom: 1px solid rgba(0,0,0,0.05);
				border-top: : 1px solid rgba(60, 179, 113,0.05);
			}
			.sidebar ul li a{
				width: 25px;
			}
			.sidebar ul li:hover{
				background: rgba(18, 32, 146,0.2);
				cursor:pointer; cursor: hand;
			}
			.listcontent{
				flex-basis: 0;
  				flex-grow: 999;
  				min-width: 70%;
			}
			.container{
				display: flex;
				flex-wrap: wrap;
			}
			.custom-cm{
				background-color: white;
			    border: 1px solid #cccccc;
			    box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
			    padding: 10px 0;
			    position: absolute;
			    width: 200px;
			    top: 0;
			    left: 0;
			    display: none;
			}

			.custom-cm_item{
				cursor: pointer;
			    padding: 8px 15px;
			}
			.custom-cm_item:hover{
				background-color: #f8f8f8;
			}
			.custom-cm_div{
				border-bottom: 1px solid #eeeeee;
			    margin: 10px 0;	
			}
			table thead{
				
				table-layout: fixed;
  				border-collapse: collapse;
				background-color: white;
				margin-bottom: : 3rem;
				marker-end: 50rem;

			}
			table {
			  margin-top: 2.9rem;
			  border-collapse: collapse;
			  background: #FFF;
			  table-layout: auto;
			  width: 100%;
			}
			table tbody {
  				margin-top: 24px;
			}
			.menudiv{
				position: static;
			}


			input {
				margin-left: 1rem;
				outline: none;
			}
			input[type=search] {
				-webkit-appearance: textfield;
				-webkit-box-sizing: content-box;
				font-family: inherit;
				font-size: 100%;
			}
			input::-webkit-search-decoration,
			input::-webkit-search-cancel-button {
				display: none; 
			}
			input[type=search] {
				background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
				border: solid 1px #ccc;
				padding: 9px 10px 9px 32px;
				width: 55px;
				
				-webkit-border-radius: 10em;
				-moz-border-radius: 10em;
				border-radius: 10em;
				
				-webkit-transition: all .5s;
				-moz-transition: all .5s;
				transition: all .5s;
			}
			input[type=search]:focus {
				width: 10rem;
				background-color: #fff;
				border-color: #66CC75;
				
				-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
				-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
				box-shadow: 0 0 5px rgba(109,207,246,.5);
			}


			input:-moz-placeholder {
				color: #999;
			}
			input::-webkit-input-placeholder {
				color: #999;
			}

	    </style>
{% endblock %}

{% block content %} 

<div class="container"  >
	<div class="sidebar">
		<h4>Lista de egresados</h4>
		    <form>
			<input type="search" placeholder="Buscar">
		</form>
		
		    <ul>
		      <li><a href="#">1</a></li>
		      <li><a href="#">2</a></li>
		      <li><a href="#">3</a></li>
		      <li><a href="#">4</a></li>
		      <li><a href="#">5</a></li>
		    </ul>
		</div>

  	<div class="table-responsive listcontent"  >
		{% render_table table %}
  	</div>
  	<div class="menudiv">
  		<div class="custom-cm">
			<div class="custom-cm_item">Ver información</div>
			<div class="custom-cm_item">Enviar notificación</div>
			<div class="custom-cm_item">Generar carta de no inconvenientes</div>
			<div class="custom-cm_div"></div>
			<div class="custom-cm_item">Validar documentación</div>
		</div>
	</div>
</div>
{% endblock %}

